#adduser, #updateuser {
	max-width: 600px;
	
}
.add-user-form, .update-user-form {
	padding: 15px;
	border: solid #666 2px;
	border-radius: 3px;
}
.form-group {
	display: flex;
	align-items: center;
	padding: 7px;
}
.form-group input {
	background-color: #ddd;
	border: none;
	border-radius: 4px;
	padding: 9px;
	width: 100%;
}
label {
	width: 100px;
}
.btn-add-user {
	padding: 7px 17px;
	cursor: pointer;
}