header {
	height: 60px;
	color: darkgoldenrod;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}
.title {
	font-weight: 600;
	font-size: 1.4rem;
	text-transform: capitalize;
}
.link {
	color: inherit;
	margin: 0 15px;
	text-decoration: none;
	font-size: 1.1rem;
	padding: 4px 8px;
	border-radius: 3px;
}
.link.active {
	background-color: dodgerblue;
	color: #eee;
}